body { 
    width: auto;
    font-family: cursive;
    margin: 20px;
    padding: 0;
    background-color: #d8dbe2;
}

#heading { 
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #58a4b0;
}

form { 
    width: 700px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding-top: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #a9bcd0;
}

form:hover { 
    box-shadow: 3px 5px 5px 3px rgb(82, 82, 82);
}

fieldset { 
    border: 3px solid rgb(0, 47, 255);
    border-radius: 10%;
    padding: 25px;
    margin-bottom: 20px;
}

label { 
    display: block;
    margin-top: 10px;
}

input, textarea { 
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

.profile-picture-preview {
    display: block;
    margin: 10px auto;
    border: 2px solid #a9bcd0;
    box-shadow: 0px 4px 8px rgba(11, 7, 211, 0.5);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}